/* USER VARIABLES SECTION */

:root {
  --text-white: #ffffff;
  --text-dark: #23262b;
  --text-green: #68b551;
  --bg-dark: #23262b;
  --gradient-green: linear-gradient(318.07deg, #68b551 10.19%, #3ab177 92.37%);
  --regular-text: 25px;
  --lineheight: 1.2;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  --trs: all 0.3s ease;
}

/* FONTS LOAD SECTION */
@font-face {
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2");
  font-family: "roboto-st";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url("../fonts/montserrat-regular.woff2") format("woff2");
  font-family: "montserrat-st";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/montserrat-extrabold.woff2") format("woff2");
  font-family: "montserrat-st";
  font-weight: 800;
  font-style: normal;
}

/* GENERAL CSS SETTINGS */

::placeholder {
  color: #666;
}
::selection {
  background-color: var(--text-white);
  color: var(--bg-dark);
}
input,
textarea {
  outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}
input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text-white);
  background: var(--bg-dark);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

/* USER STYLES */

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
  position: relative;
  padding: 27px 0;
}
.header__inner-flex {
  display: flex;
  align-items: center;
}
.header__inner-flex .logotype {
  flex: 0 0 23%;
}
.header__inner-flex .inline_links {
  flex: 0 0 13%;
}
.header__inner-flex .navigation {
  flex: 1;
}
.header__inner-flex .navigation .main_nav {
  justify-content: center;
}
.header__inner .inline_links {
  justify-content: flex-end;
}
.navigation {
  transition: var(--trs);
  -webkit-transition: var(--trs);
  -moz-transition: var(--trs);
  -ms-transition: var(--trs);
  -o-transition: var(--trs);
}
.navigation.active {
  opacity: 1;
  visibility: visible;
}
.navigation .line {
  display: none;
}
.logotype {
  text-decoration: none;
}
.logotype__flex {
  display: flex;
  align-items: center;
}
.logotype__flex .logotype__text {
  margin-left: 9px;
}
.logotype__text {
  line-height: 0.9;
}
.logotype__label {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  background: var(--gradient-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 33px;
}
.logotype__label span {
  color: var(--text-white);
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--text-white);
}
.logotype__description {
  color: var(--text-white);
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 300;
}
.main_nav {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_nav__item {
  margin: 0 25px;
}
.main_nav__item:first-child {
  margin-left: 0;
}
.main_nav__item:last-child {
  margin-right: 0;
}
.main_nav__link {
  display: block;
  position: relative;
  color: var(--text-white);
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
}
.main_nav__link:hover {
  color: var(--text-white);
}
.main_nav__link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 34px;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background: var(--gradient-green);
  transform: translateX(-50%);
  display: none;
}
.main_nav__item-active .main_nav__link::after {
  display: block;
}
.mobile_nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile_nav__link {
  color: #82889a;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  display: inline-flex;
  align-items: center;
  padding: 15px 5px;
}
.mobile_nav__link:hover {
  color: #82889a;
}
.mobile_nav__item:first-child .mobile_nav__link {
  padding-top: 0;
}
.mobile_nav__item:last-child .mobile_nav__link {
  padding-bottom: 0;
}
.mobile_nav__item svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.mobile_nav__item.marked {
  background: var(--gradient-green);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin: 0 -15px;
  border: 1px solid var(--text-white);
}
.mobile_nav__item.marked .mobile_nav__link {
  width: 100%;
  color: var(--text-white);
  padding: 15px 20px;
}
.mobile_nav__item.marked svg path {
  fill: var(--text-white);
  stroke: var(--text-white);
}
.line {
  display: block;
  width: 100%;
  height: 1px;
  background-image: url(../images/icons/line.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 30px 0;
}
.inline_links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.inline_links li {
  margin: 0 9px;
}
.inline_links li:first-child {
  margin-left: 0;
}
.inline_links li:last-child {
  margin-right: 0;
}
.inline_links a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--gradient-green);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--trs);
  -webkit-transition: var(--trs);
  -moz-transition: var(--trs);
  -ms-transition: var(--trs);
  -o-transition: var(--trs);
}
.inline_links a:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.header .hamburger {
  display: none;
}
.hamburger {
  padding: 0;
}
.hamburger-box {
  width: 43px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 43px;
  background-color: var(--text-white);
  height: 2px;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: var(--text-white);
  width: 26px;
}
.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-box {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}
/* END HEADER */

.section {
  position: relative;
  padding: 40px 0;
}
.section__title {
  opacity: 0.3;
  text-align: center;
  letter-spacing: 3px;
}
.title {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}
.title span {
  background: var(--gradient-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title_xl {
  font-size: 78px;
}
.title_lg {
  font-size: 56px;
}
.title_md {
  font-size: 40px;
}
.text {
  font-size: 25px;
  font-weight: 300;
}
.btn {
  display: inline-block;
  position: relative;
  background: var(--gradient-green);
  background-clip: padding-box;
  text-decoration: none;
  color: var(--text-dark);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 16px 50px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 1px solid var(--text-white);
  overflow: hidden;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: var(--text-dark);
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: translateX(-4em) skewX(-25deg);
  -webkit-transform: translateX(-4em) skewX(-25deg);
  -moz-transform: translateX(-4em) skewX(-25deg);
  -ms-transform: translateX(-4em) skewX(-25deg);
  -o-transform: translateX(-4em) skewX(-25deg);
  animation-name: move-light;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-25deg);
    -webkit-transform: translateX(-4em) skewX(-25deg);
    -moz-transform: translateX(-4em) skewX(-25deg);
    -ms-transform: translateX(-4em) skewX(-25deg);
    -o-transform: translateX(-4em) skewX(-25deg);
  }
  to {
    transform: translateX(20em) skewX(-25deg);
    -webkit-transform: translateX(20em) skewX(-25deg);
    -moz-transform: translateX(20em) skewX(-25deg);
    -ms-transform: translateX(20em) skewX(-25deg);
    -o-transform: translateX(20em) skewX(-25deg);
  }
}
.btn_dark {
  background: var(--bg-dark);
  color: var(--text-white);
}
.btn_dark:hover {
  color: var(--text-white);
}
.btn_dark::before {
  animation-delay: 3s;
  animation-duration: 3s;
}
.circle {
  position: relative;
  display: block;
  width: 450px;
  height: 450px;
  background: var(--gradient-green);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.type_block__inner {
  position: relative;
  display: flex;
  padding: 80px 0;
}
.type_block__inner.type_block__inner-reverse {
  flex-direction: row-reverse;
}
.type_block__inner .type_block__content {
  position: relative;
  z-index: 2;
  flex: 0 0 50%;
}
.type_block__inner .type_block__image {
  position: absolute;
  top: 20px;
  right: 0;
  width: 50%;
  height: auto;
}
.type_block__inner.type_block__inner-reverse .type_block__image {
  right: unset;
  left: 0;
}
.type_block__title {
  margin-bottom: 15px;
}
.type_block__description {
  margin-bottom: 35px;
  max-width: 515px;
}
.type_block__inner .circle {
  position: relative;
  margin-left: auto;
}
.type_block__inner.type_block__inner-reverse .circle {
  margin-left: 0;
  margin-right: auto;
}
.type_block__single {
  align-items: center;
  padding: 40px 0;
}
.type_block__single .type_block__image {
  text-align: right;
}
.type_block__single .type_block__image {
  position: relative;
  top: 0;
}
.type_block__single .type_block__image img {
  max-width: 520px;
}
.type_block__image-abs {
  max-width: 540px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.intro_sec .type_block__inner .type_block__image {
  top: 72px;
}
.intro_sec .type_block__description {
  max-width: 420px;
}
.intro_sec .type_block__inner .type_block__image {
  right: -35px;
}
.intro_sec .type_block__image-abs {
  max-width: 640px;
  top: -50px;
  left: -222px;
}
.pg_bt_big {
  padding-bottom: 90px;
}

/* BIKE CAROUSEL */
.bike_sec__title {
  text-align: center;
  margin: 25px 0;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bike_sec__description {
  display: none;
}
.bike_sec__button {
  text-align: center;
}
.bike_carousel {
  padding: 70px 0 60px;
  margin: 0 -70px;
}
.bike_carousel__slide .circle {
  width: 358px;
  height: 358px;
  background: transparent;
  margin: 0 auto;
}
.bike_carousel__slide.swiper-slide-next .circle {
  background: var(--gradient-green);
}
.bike_carousel__slide.swiper-slide-next .circle .bike_carousel__image {
  max-width: 520px;
  filter: none;
  -webkit-filter: none;
}
.bike_carousel__image {
  max-width: 360px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.bike_carousel .swiper-pagination {
  bottom: 0;
}
/* END BIKE CAROUSEL */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 36px;
  height: 36px;
  background: var(--gradient-green);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper .swiper-button-prev::before,
.swiper .swiper-button-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 14px 18px;
  background-repeat: no-repeat;
}
.swiper .swiper-button-prev::before {
  background-image: url(../images/icons/arrow_left.svg);
  background-position: 9px 9px;
}
.swiper .swiper-button-next::before {
  background-image: url(../images/icons/arrow_right.svg);
  background-position: 13px 9px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #82889a;
  outline: none;
}
.swiper-pagination .swiper-pagination-bullet:active,
.swiper-pagination .swiper-pagination-bullet:focus {
  outline: none;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--gradient-green);
}

/* SERVICES ITEMS */
.services_sec .services_items {
  margin-top: 40px;
}
.services_item {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--gradient-green);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  overflow: hidden;
}
.services_item:last-child {
  margin-bottom: 0;
}
.services_item::after {
  content: attr(data-num);
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 60px;
  display: none;
  color: var(--text-white);
  opacity: 0.7;
  font-family: "montserrat-st";
  font-weight: 700;
  line-height: 1;
}
.services_item__image {
  width: 335px;
  flex: 0 0 335px;
}
.services_item__content {
  flex: 1;
  padding-left: 70px;
  color: var(--text-dark);
}
.services_item__title {
  text-transform: uppercase;
  font-weight: 900;
}
.services_item__description {
  margin-top: 5px;
}
/* END SERVICES ITEMS */
.img_slider_wrap.img_slider_wrap-right {
  margin-right: -20px;
}
.img_slider_wrap.img_slider_wrap-left {
  margin-left: -20px;
}
.img_slider_wrap.img_slider_wrap-right .img_slider {
  padding-right: 20px;
}
.img_slider_wrap.img_slider_wrap-left .img_slider {
  padding-left: 20px;
}
.img_slider {
  padding: 20px 0;
}
.img_slider .img_slider__slide .type_block__image-abs {
  opacity: 0;
  visibility: hidden;
}
.img_slider .img_slider__slide.swiper-slide-active .type_block__image-abs {
  opacity: 1;
  visibility: visible;
  max-width: 500px;
}
.img_slider .swiper-pagination {
  display: none;
}

.request_block {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}
.request_block__wrapper {
  position: relative;
  background: var(--gradient-green);
  padding: 40px 55px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.request_block__content {
  color: var(--text-dark);
  max-width: 560px;
}
.request_block__title {
  margin-bottom: 15px;
}
.request_block__description {
  margin-bottom: 35px;
}
.request_block__image {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  max-width: 500px;
  height: auto;
}
.sm_block {
  display: none;
}
