/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }
  .header__inner-flex .logotype,
  .header__inner-flex .inline_links {
    flex: 0 0 20%;
  }
  .main_nav__link {
    font-size: 16px;
  }
  .logotype {
    width: 45px;
  }
  .logotype__text {
    display: none;
  }
  .title_xl {
    font-size: 64px;
  }
  .title_lg {
    font-size: 48px;
  }
  .text {
    font-size: 22px;
  }
  .btn {
    font-size: 16px;
  }
  .circle {
    width: 420px;
    height: 420px;
  }
  .type_block__inner {
    padding: 60px 0;
  }
  .type_block__description {
    max-width: 460px;
  }
  .img_slider .img_slider__slide.swiper-slide-active .type_block__image-abs {
    max-width: 460px;
  }
  .type_block__image-abs {
    max-width: 500px;
  }
  .intro_sec .type_block__inner .type_block__image {
    right: 0;
  }
  .intro_sec .type_block__image-abs {
    max-width: 540px;
    left: -120px;
    top: -10px;
  }
  .intro_sec .type_block__inner .type_block__image {
    top: 55px;
  }
  .bike_carousel {
    padding: 80px 0 60px;
    margin: 0 -50px;
  }
  .bike_carousel__slide .circle {
    width: 300px;
    height: 300px;
  }
  .bike_carousel__image {
    max-width: 300px;
  }
  .bike_carousel__slide.swiper-slide-next .circle .bike_carousel__image {
    max-width: 480px;
  }
  .type_block__single .type_block__image img {
    max-width: 90%;
  }
  .request_block {
    padding: 40px 0;
  }
  .request_block__image {
    max-width: 460px;
  }
  .request_block__content {
    max-width: 460px;
  }
}

/* md <= Large (lg) */
@media (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
  .header__inner-flex .logotype {
    flex: 0 0 45px;
  }
  .navigation {
    padding: 0 15px;
  }
  .main_nav__item {
    margin: 0 20px;
  }
  .main_nav__link::after {
    height: 2px;
  }
  .pg_bt_big {
    padding-bottom: 50px;
  }
  .title_xl {
    font-size: 58px;
    letter-spacing: normal;
  }
  .title_lg {
    font-size: 42px;
  }
  .title_md {
    font-size: 32px;
  }
  .text {
    font-size: 18px;
  }
  .type_block__description {
    max-width: 360px;
    margin-bottom: 30px;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .img_slider .img_slider__slide.swiper-slide-active .type_block__image-abs {
    max-width: 340px;
  }
  .type_block__image-abs {
    max-width: 360px;
  }
  .intro_sec .type_block__image-abs {
    max-width: 400px;
    left: -100px;
    top: -30px;
  }
  .btn {
    font-size: 14px;
    padding: 14px 40px;
  }
  .title span {
    color: var(--text-green);
    background: transparent;
    -webkit-text-fill-color: var(--text-green);
  }
  .section {
    padding: 30px 0;
  }
  .bike_sec__title {
    margin: 20px 0;
  }
  .bike_sec__description {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .bike_carousel {
    margin: 0;
  }
  .bike_carousel__slide {
    opacity: 0;
    visibility: hidden;
  }
  .bike_carousel__slide.swiper-slide-active {
    opacity: 1;
    visibility: visible;
  }
  .bike_carousel__slide.swiper-slide-next .circle {
    background: transparent;
  }
  .bike_carousel__slide.swiper-slide-active .circle {
    background: var(--gradient-green);
  }
  .bike_carousel__slide .circle {
    width: 400px;
    height: 400px;
  }
  .bike_carousel__image {
    max-width: 580px;
  }
  .services_sec .services_items {
    margin-top: 30px;
  }
  .services_item__content {
    padding-left: 50px;
  }
  .services_item__image {
    width: 250px;
    flex: 0 0 250px;
  }
  .request_block {
    padding: 30px 0;
  }
  .request_block__wrapper {
    padding: 30px;
  }
  .request_block__description {
    margin-bottom: 30px;
  }
  .request_block__image {
    max-width: 300px;
  }
  .request_block__content {
    max-width: 370px;
  }
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
  .header {
    padding: 30px 0 20px;
  }
  .header .hamburger {
    display: block;
  }
  .header .main_nav {
    display: none;
  }
  .header__inner .inline_links {
    display: none;
  }
  .mobile_nav {
    display: block;
  }
  .navigation {
    z-index: 99;
    opacity: 0;
    visibility: hidden;
  }
  .header .navigation {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 0 30px 200px;
    background: var(--bg-dark);
  }
  .navigation .line {
    display: block;
  }
  .logotype {
    width: 40px;
  }
  .logotype__image {
    max-width: 40px;
  }
  .logotype__text {
    display: block;
  }
  .header__inner-flex .logotype {
    flex: auto;
  }
  .logotype__label {
    font-size: 24px;
  }
  .logotype__description {
    font-size: 10px;
    letter-spacing: normal;
  }
  .type_block__inner {
    flex-direction: column-reverse;
    padding: 30px 0 0;
  }
  .type_block__inner.type_block__inner-reverse {
    flex-direction: column-reverse;
  }
  .intro_sec .type_block__image .circle {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
  }
  .type_block__inner .type_block__image {
    position: relative;
    width: 100%;
    top: 0;
  }
  .type_block__inner .circle,
  .type_block__inner.type_block__inner-reverse .circle {
    margin: 0 auto;
  }
  .type_block__inner .type_block__content {
    flex: 1;
    margin-top: 30px;
    text-align: center;
  }
  .type_block__title {
    text-align: left;
  }
  .type_block__description {
    max-width: 100%;
    text-align: left;
  }
  .type_block__btn {
    margin: 0 auto;
  }
  .title_xl {
    font-size: 48px;
  }
  .title_lg {
    font-size: 36px;
  }
  .btn {
    padding: 12px 40px;
  }
  .intro_sec {
    padding-top: 40px;
  }
  .intro_sec .type_block__inner .type_block__image {
    top: 0;
  }
  .bike_carousel {
    padding: 40px 0 50px;
  }
  .bike_carousel__slide .circle {
    width: 300px;
    height: 300px;
  }
  .bike_carousel__image {
    max-width: 400px;
  }
  .bike_sec__title {
    text-align: left;
  }
  .bike_sec__description {
    text-align: left;
  }
  .services_item {
    height: 165px;
    padding: 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--text-white);
  }
  .services_item::after {
    display: block;
  }
  .services_item__description {
    display: none;
  }
  .services_item__image {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .services_item__title {
    background: var(--bg-dark);
    color: var(--text-white);
    font-family: "montserrat-st";
    font-weight: 400;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 6px 16px;
    margin: 0;
    min-width: 60%;
    font-size: 22px;
  }
  .img_slider {
    padding: 20px 0 60px;
  }
  .img_slider_wrap.img_slider_wrap-right .img_slider {
    padding-right: 0;
  }
  .img_slider_wrap.img_slider_wrap-left .img_slider {
    padding-left: 0;
  }
  .img_slider_wrap.img_slider_wrap-right {
    margin-right: 0;
  }
  .img_slider_wrap.img_slider_wrap-left {
    margin-left: 0;
  }
  .img_slider .swiper-pagination {
    display: block;
  }
  .protect_sec .type_block__inner .type_block__content {
    margin-top: 20px;
  }
  .type_block__single .type_block__image img {
    max-width: 100%;
  }
  .request_block {
    margin: 0 -30px;
  }
  .request_block__wrapper {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .request_block__image {
    display: none;
  }
  .request_block__content {
    max-width: 100%;
  }
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
  .mobile_nav__item svg {
    width: 27px;
    height: 27px;
  }
  .mobile_nav__link {
    font-size: 18px;
    padding: 10px 5px;
  }
  .mobile_nav__item.marked {
    margin: 0 -10px;
  }
  .mobile_nav__item.marked .mobile_nav__link {
    padding: 10px 15px;
  }
  .circle {
    width: 225px;
    height: 225px;
  }
  .title_xl {
    font-size: 42px;
  }
  .title_lg {
    font-size: 30px;
  }
  .title_md {
    font-size: 28px;
  }
  .text {
    font-size: 16px;
  }
  .section {
    padding: 20px 0;
  }
  .img_slider .img_slider__slide.swiper-slide-active .type_block__image-abs,
  .type_block__image-abs {
    max-width: 260px;
  }
  .intro_sec .type_block__image-abs {
    max-width: 300px;
    left: -85px;
    top: -10px;
  }
  .intro_sec {
    padding-top: 20px;
  }
  .bike_carousel__slide .circle {
    width: 225px;
    height: 225px;
  }
  .bike_carousel__image {
    max-width: 300px;
  }
  .bike_sec__title {
    margin: 15px 0;
  }
  .services_item__title {
    min-width: 70%;
    font-size: 18px;
  }
  .request_block__content {
    text-align: center;
  }
  .request_block__title {
    text-align: left;
  }
  .request_block__description {
    text-align: left;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 20px;
  }
  .header .navigation {
    padding: 0 20px 100px;
  }
  .request_block__wrapper {
    padding: 30px 20px;
  }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
}
